.main {

    .aboutus{
         height: 100vh;
         width: 100%;
            display: flex;
    }

    .products{
        height: 100px;
        width: 100%;
        display: flex;
        
    }
}